<div class="container mt-3">
    <div class="row">
      <div class="col-md-12 col-12 col-sm-12">
        <h4 class="text-center" style="color:blue">GRADE B</h4>
      </div>
      
    </div>
  </div>
  
  
  <div class="container">
    <div class="row">
        <div class="col-md-12 col-12 col-sm-12">
            <mat-form-field style="width: 100%;">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)">
            </mat-form-field>
        </div>
    </div>
  </div>
  
  <div class="col-md-12 col-sm-12 col-12">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
      <ng-container matColumnDef="artistCode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
          <td mat-cell *matCellDef="let element"> {{element.ArtistSystemCode}} </td>
      </ng-container>
    
      <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
          <td mat-cell *matCellDef="let element"> {{element.FirstName}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
          <td mat-cell *matCellDef="let element"> {{element.LastName}} </td>
      </ng-container> 
      
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef [hidden]="show">view</th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="viewEmployee(element)">
                <mat-icon class="mat-18">remove_red_eye</mat-icon>
            </button>
        </td>
    </ng-container>
    
      <ng-container matColumnDef="approvalStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let element"> {{element.StatusName}} </td>
      </ng-container>
    
  <!--   
      <ng-container matColumnDef="view">
          <th mat-header-cell *matHeaderCellDef [hidden]="show">view</th>
          <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="viewEmployee(element)">
                  <mat-icon class="mat-18">remove_red_eye</mat-icon>
              </button>
          </td>
      </ng-container> -->
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
  