<form [formGroup]="savePersonalDetailsForm" autocomplete="off" *ngIf="preferredLanguage === 'true'">

    <div class="container-fluid">
        <h3 class="font-weight-bold">Personal Details</h3>
        <div class="row">
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Artist System Code" type="text" formControlName="artistSystemCode"
                        [(ngModel)]="personalDetails.artistSystemCode" readonly required>
                </mat-form-field>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="First Name" type="text" formControlName="firstname"
                        [(ngModel)]="personalDetails.firstName" required>
                </mat-form-field>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Middle Name" type="text" formControlName="middlename"
                        [(ngModel)]="personalDetails.middleName">
                </mat-form-field>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Last Name" type="text" formControlName="lastname"
                        [(ngModel)]="personalDetails.lastName">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-6 col-sm-6">


                <mat-form-field class="example-full-width" style="width: 100%;">
                    <mat-label>Date Of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob" [(ngModel)]="personalDetails.dob"
                        (dateChange)="valueChanged()" readonly [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Current Age" type="text" formControlName="currentAge"
                        [(ngModel)]="personalDetails.currentAge" readonly>
                </mat-form-field>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Contact No 1" type="text" formControlName="contactnoone" appNumber
                        [(ngModel)]="personalDetails.contactNo1" [maxLength]="maxLengthPhone">
                </mat-form-field>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Contact No 2" type="text" formControlName="contactnotwo"
                        [maxLength]="maxLengthPhone" appNumber [(ngModel)]="personalDetails.contactNo2">
                </mat-form-field>
            </div>


        </div>

        <div class="row">



            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Address" type="text" formControlName="address"
                        [(ngModel)]="personalDetails.address">
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Taluka" type="text" formControlName="taluka"
                        [(ngModel)]="personalDetails.taluka">
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">

                <mat-form-field style="width: 100% !important;">
                    <mat-select placeholder="District" formControlName="district"
                        [(ngModel)]="personalDetails.district">
                        <mat-option *ngFor="let item of districtMasterData;" [value]="item.DistrictId"
                            (click)="selectedDistrictFromList(item)">
                            {{item.DistrictName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Pin Code" type="text" formControlName="pinCode"
                        [maxLength]="maxLengthPinCode" [(ngModel)]="personalDetails.pinCode" appNumber>
                </mat-form-field>
            </div>



        </div>

        <div class="row">
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Religion" type="text" formControlName="religion"
                        [(ngModel)]="personalDetails.religion">
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Caste" type="text" formControlName="caste"
                        [(ngModel)]="personalDetails.caste">
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Aadhar NO" type="text" formControlName="aadharno"
                        [maxLength]="maxLengthAadharCard" [(ngModel)]="personalDetails.aadharNo">
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="PAN NO" type="text" formControlName="panno"
                        [maxLength]="maxLengthPanCard" [(ngModel)]="personalDetails.panNo">
                </mat-form-field>
            </div>



        </div>

        <div class="row">

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Spouse Name" type="text" formControlName="spousename"
                        [(ngModel)]="personalDetails.spouseName">
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Family Member Count" type="text" formControlName="familyMemberCount"
                        [(ngModel)]="personalDetails.familyMemberCount" appNumber>
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Dependent Family Member Count" type="text"
                        formControlName="dependentFamilyMemberCount"
                        [(ngModel)]="personalDetails.dependentFamilyMemberCount" appNumber>
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6 mt-3">
                <mat-label class="mr-1" style="margin-top:5px !important;">Gender</mat-label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group mt-3"
                    [(ngModel)]="personalDetails.gender" formControlName="gender" style="width: 100%;">
                    <mat-radio-button class="example-radio-button mr-2" *ngFor="let season of genderArray"
                        [value]="season">
                        {{season}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>


        </div>

    </div>

    <mat-divider class="my-2"></mat-divider>

    <div class="container-fluid">
        <h4 class="font-weight-bold">Work Information</h4>

        <div class="row">

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Work Details" type="text" formControlName="workDetails"
                        [(ngModel)]="personalDetails.workDetails">
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Art Type" type="text" formControlName="arttype"
                        [(ngModel)]="personalDetails.artType">
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Period Of Works / Years" type="text" formControlName="periodofworks"
                        [(ngModel)]="personalDetails.periodOfWork" appNumber>
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Art Locations" type="text" formControlName="artLocations"
                        [(ngModel)]="personalDetails.artLocations">
                </mat-form-field>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Annual Income" type="text" formControlName="annualincome" appNumber
                        [(ngModel)]="personalDetails.annualIncome">
                </mat-form-field>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100% !important;">
                    <mat-select placeholder="Ill / Handicaped" [(ngModel)]="personalDetails.illHandicapedCheck"
                        formControlName="illHandicapedCheck">
                        <mat-option *ngFor="let item of illnessHandicaped;" [value]="item.id"
                            (click)="selectedHandicapedFromList(item)">
                            {{item.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100% !important;">
                    <mat-select placeholder="Financial Benefit Beneficent"
                        [(ngModel)]="personalDetails.financialBenefitCheck" formControlName="financialBenefitCheck">
                        <mat-option *ngFor="let item of govermentBeneficiaryPlan;" [value]="item.id"
                            (click)="selectedBeneficiaryFromList(item)">
                            {{item.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Financial Benefit Received(Amount)" type="text"
                        formControlName="financialBenefitReceived"
                        [(ngModel)]="personalDetails.financialBenefitReceived" appNumber>
                </mat-form-field>
            </div>
        </div>
    </div>

    <mat-divider class="my-2"></mat-divider>


    <div class="container-fluid">
        <h4 class="font-weight-bold">Bank Details</h4>
        <div class="row">

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Account Name" type="text" formControlName="accountname"
                        [(ngModel)]="personalDetails.accountName">
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Account Number" type="text" formControlName="accountnumber"
                        [maxLength]="maxLengthAccountNumber" [(ngModel)]="personalDetails.accountNumber" appNumber>
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Bank Name" type="text" formControlName="bankname"
                        [(ngModel)]="personalDetails.bankName">
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="IFSC Code" type="text" formControlName="ifsccode"
                        [maxLength]="maxLengthIfsc" [(ngModel)]="personalDetails.BankIFSCCode">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="City" type="text" formControlName="city"
                        [(ngModel)]="personalDetails.city">
                </mat-form-field>
            </div>

        </div>

    </div>


    <mat-divider class="my-3"></mat-divider>
    <div class="container-fluid">
        <h4 class="font-weight-bold">Others</h4>
        <div class="row">


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Place" type="text" formControlName="place"
                        [(ngModel)]="personalDetails.place" readonly>
                </mat-form-field>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="Application Date" type="text" formControlName="applicationDate"
                        [(ngModel)]="personalDetails.applicationDate" readonly>
                </mat-form-field>
            </div>
        </div>



        <div class="row" *ngIf="isExisitingEdit">
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 230px !important;">
                    <mat-label>Reason For Edit</mat-label>
                    <textarea id="billingAddress" matInput formControlName="reasonForEdit"
                        [(ngModel)]="personalDetails.reasonForEdit"></textarea>
                </mat-form-field>
            </div>
        </div>

    </div>


    <mat-divider class="my-2"></mat-divider>
    <div class="container-fluid">
        <h4 class="font-weight-bold">Mandotary Documents</h4>

        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required">Date Of Birth Proof :</p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getDOBFileDetails($event)" class="width-100" 
                    style="margin-left: 7px;" formControlName="dobProof" [(ngModel)]="personalDetails.dobProof">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required">Resident Proof (Maharashtra) :</p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getMahrashtraResidenceFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="maharashtraResidentProof"
                    [(ngModel)]="personalDetails.maharashtraResidentProof">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required">Annual Income Proof(Tahasildar):</p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getAnnualIncomeFileDetails($event)" class="width-100"
                    style="margin-left: 7px;" formControlName="annualIncomeProof"
                    [(ngModel)]="personalDetails.annualIncomeProof">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required">Govt Beneficiary Benfit Plan Proof :</p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getGovtBeneficiaryBenefitFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="beneficiaryBenefitPlanProof"
                    [(ngModel)]="personalDetails.beneficiaryBenefitPlanProof">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required">Artist Photograph</p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getArtistPhotographFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="artistPhotographProof"
                    [(ngModel)]="personalDetails.artistPhotographProof">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required">Nominee Photograph:</p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getNomineePhotographFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="nomineePhotographProof"
                    [(ngModel)]="personalDetails.nomineePhotographProof">
            </div>
        </div>


        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required"> Bank Account Confirmation Proof:</p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getBankAccountConfimationFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="bankAccountConfirmationProof"
                    [(ngModel)]="personalDetails.bankAccountConfirmationProof">
            </div>
        </div>

        <h4 class="font-weight-bold">Optional Documents</h4>
        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                Illness or Handicaped Proof :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getIllHandicapedFileDetails($event)" class="width-100"
                    style="margin-left: 7px;" formControlName="illHandicapedProof"
                    [(ngModel)]="personalDetails.illHandicapedProof">
            </div>
        </div>

        <div class="row mt-1">


            <div class="col-md-6 col-12 col-sm-12">
                Publications,Invetations and Govt Recognistion Proof :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getGovtRecognisitionFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="publicationsGovtRecognistionProof"
                    [(ngModel)]="personalDetails.publicationsGovtRecognistionProof">
            </div>
        </div>

        <div class="row mt-1">


            <div class="col-md-6 col-12 col-sm-12">
                Cultural Ministry Certification Proof :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getCulturalMinistryFileDetails($event)" class="width-100"
                    style="margin-left: 7px;" formControlName="culturalMinsitryCertificationProof"
                    [(ngModel)]="personalDetails.culturalMinsitryCertificationProof">
            </div>
        </div>

        <div class="row mt-1">


            <div class="col-md-6 col-12 col-sm-12">
                Sponsered Programs Proof :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getSponseredFileDetails($event)" class="width-100"
                    style="margin-left: 7px;" formControlName="sponseredDocumentsProof"
                    [(ngModel)]="personalDetails.sponseredDocumentsProof">
            </div>
        </div>


        <div class="row mt-1">

            <div class="col-md-6 col-12 col-sm-12">
                Collector Nominated Program Participation Proof:
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getCollectorNominatedFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="collectorNominatedParticipationProof"
                    [(ngModel)]="personalDetails.collectorNominatedParticipationProof">
            </div>
        </div>

        <div class="row mt-1">


            <div class="col-md-6 col-12 col-sm-12">
                Institution and Individual Recomendation Proof :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getIndividualInstitutionFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="institutionRecomendationProof"
                    [(ngModel)]="personalDetails.institutionandIndividualRecomendationProof">
            </div>
        </div>
        <div class="row mt-1">


            <div class="col-md-6 col-12 col-sm-12">
                Notarised Certificate Of Confirmation Proof :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getNotarisedFileDetails($event)" class="width-100"
                    style="margin-left: 7px;" formControlName="notarisedCertificateOfConfirmationProof"
                    [(ngModel)]="personalDetails.notarisedCertificateOfConfirmationProof">
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                Other Documents Proof :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getOtherDocumentsFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="otherDocuments"
                    [(ngModel)]="personalDetails.otherDocuments">
            </div>
        </div>
        <mat-divider class="my-3"></mat-divider>

        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required"> Upload Manual Form Proof :</p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getManualFileDetails($event)" class="width-100"
                    style="margin-left: 7px;" formControlName="manualFormProof"
                    [(ngModel)]="personalDetails.manualFormProof">
            </div>
        </div>

    </div>
    <mat-divder class="my-2"></mat-divder>
    <div class="container-fluid">


        <div mat-dialog-actions class="my-2" align="end" *ngIf="!isExisitingEdit">


            <span class="mr-2"><button mat-raised-button color="primary" [disabled]="!personalDetails.firstName"
                    (click)="saveEmployee()">Submit</button></span>
            <button mat-raised-button mat-dialog-close>Close</button>
        </div>
    
    
        <div mat-dialog-actions align="end" *ngIf="isExisitingEdit">
            <span class="mr-2"><button mat-raised-button color="primary" [disabled]="!personalDetails.reasonForEdit"
                    (click)="saveEmployee()">Submit</button></span>
            <button mat-raised-button mat-dialog-close>Close</button>
        </div>

    </div>

</form>


<form [formGroup]="savePersonalDetailsForm" autocomplete="off" *ngIf="preferredLanguage === 'false'">

    <div class="container-fluid">
        <h3 class="font-weight-bold">वैयक्तिक माहिती</h3>
        <div class="row">


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="कलाकार सिस्टम कोड" type="text" formControlName="artistSystemCode"
                        [(ngModel)]="personalDetails.artistSystemCode" readonly>
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="पहिले नाव" type="text" formControlName="firstname"
                        [(ngModel)]="personalDetails.firstName" required>
                </mat-form-field>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="मधले नाव" type="text" formControlName="middlename"
                        [(ngModel)]="personalDetails.middleName">
                </mat-form-field>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="आडनाव" type="text" formControlName="lastname"
                        [(ngModel)]="personalDetails.lastName">
                </mat-form-field>
            </div>

        </div>
        <div class="row">

            <div class="col-md-3 col-6 col-sm-6">


                <mat-form-field class="example-full-width" style="width: 100%;">
                    <mat-label>जन्म तारीख</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="dob" [(ngModel)]="personalDetails.dob"
                        (dateChange)="valueChanged()" readonly [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="चालू वय" type="text" formControlName="currentAge" readonly
                        [(ngModel)]="personalDetails.currentAge">
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="संपर्क क्रमांक १" type="text" formControlName="contactnoone" appNumber
                        [(ngModel)]="personalDetails.contactNo1" [maxLength]="maxLengthPhone">
                </mat-form-field>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="संपर्क क्रमांक 2" type="text" formControlName="contactnotwo"
                        [maxLength]="maxLengthPhone" appNumber [(ngModel)]="personalDetails.contactNo2">
                </mat-form-field>
            </div>

        </div>

        <div class="row">


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="पत्ता" type="text" formControlName="address"
                        [(ngModel)]="personalDetails.address">
                </mat-form-field>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="तालुका" type="text" formControlName="taluka"
                        [(ngModel)]="personalDetails.taluka">
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100% !important;">
                    <mat-select placeholder="जिल्हा" formControlName="district" [(ngModel)]="personalDetails.district">
                        <mat-option *ngFor="let item of districtMasterData;" [value]="item.DistrictId"
                            (click)="selectedDistrictFromList(item)">
                            {{item.DistrictName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="पिन कोड" type="text" formControlName="pinCode"
                        [maxLength]="maxLengthPinCode" [(ngModel)]="personalDetails.pinCode" appNumber>
                </mat-form-field>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="धर्म" type="text" formControlName="religion"
                        [(ngModel)]="personalDetails.religion">
                </mat-form-field>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="जात" type="text" formControlName="caste"
                        [(ngModel)]="personalDetails.caste">
                </mat-form-field>
            </div>

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="आधार क्रमांक" type="text" formControlName="aadharno"
                        [maxLength]="maxLengthAadharCard" [(ngModel)]="personalDetails.aadharNo">
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="पॅन क्रमांक" type="text" formControlName="panno"
                        [maxLength]="maxLengthPanCard" [(ngModel)]="personalDetails.panNo">
                </mat-form-field>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="जोडीदाराचे नाव" type="text" formControlName="spousename"
                        [(ngModel)]="personalDetails.spouseName">
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="कुटुंबातील सदस्यांची संख्या" type="text"
                        formControlName="familyMemberCount" [(ngModel)]="personalDetails.familyMemberCount" appNumber>
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="अवलंबित कुटुंब सदस्यांची संख्या" type="text"
                        formControlName="dependentFamilyMemberCount"
                        [(ngModel)]="personalDetails.dependentFamilyMemberCount" appNumber>
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6 mt-3">
                <mat-label class="mr-1" style="margin-top:5px !important;">Gender</mat-label>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group mt-3"
                    [(ngModel)]="personalDetails.gender" formControlName="gender" style="width: 100%;">
                    <mat-radio-button class="example-radio-button mr-2" *ngFor="let season of genderArray"
                        [value]="season">
                        {{season}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

        </div>

    </div>





    <mat-divider class="my-2"></mat-divider>

    <div class="container-fluid">
        <h4 class="font-weight-bold">कामाची माहिती</h4>

        <div class="row">

            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="कामाचा तपशील" type="text" formControlName="workDetails"
                        [(ngModel)]="personalDetails.workDetails">
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="कला प्रकार" type="text" formControlName="arttype"
                        [(ngModel)]="personalDetails.artType">
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="कामाचा कालावधी / वर्ष" type="text" formControlName="periodofworks"
                        [(ngModel)]="personalDetails.periodOfWork" appNumber>
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="कला स्थाने" type="text" formControlName="artLocations"
                        [(ngModel)]="personalDetails.artLocations">
                </mat-form-field>
            </div>
        </div>
        <div class="row">



            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="वार्षिक उत्पन्न" type="text" formControlName="annualincome" appNumber
                        [(ngModel)]="personalDetails.annualIncome">
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100% !important;">
                    <mat-select placeholder="आजारी / अपंग" [(ngModel)]="personalDetails.illHandicapedCheck"
                        formControlName="illHandicapedCheck">
                        <mat-option *ngFor="let item of illnessHandicaped;" [value]="item.id"
                            (click)="selectedHandicapedFromList(item)">
                            {{item.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100% !important;">
                    <mat-select placeholder="आर्थिक लाभार्थी" [(ngModel)]="personalDetails.financialBenefitCheck"
                        formControlName="financialBenefitCheck">
                        <mat-option *ngFor="let item of govermentBeneficiaryPlan;" [value]="item.id"
                            (click)="selectedBeneficiaryFromList(item)">
                            {{item.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="प्राप्त आर्थिक लाभ (रक्कम)" type="text"
                        formControlName="financialBenefitReceived"
                        [(ngModel)]="personalDetails.financialBenefitReceived" appNumber>
                </mat-form-field>
            </div>

        </div>

    </div>











    <mat-divider class="my-2"></mat-divider>


    <div class="container-fluid">
        <h4 class="font-weight-bold">बँक तपशील</h4>
        <div class="row">
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="खाते धारकाचे नाव" type="text" formControlName="accountname"
                        [(ngModel)]="personalDetails.accountName">
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="खाते क्रमांक" type="text" formControlName="accountnumber"
                        [maxLength]="maxLengthAccountNumber" [(ngModel)]="personalDetails.accountNumber" appNumber>
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="बँकेचे नाव" type="text" formControlName="bankname"
                        [(ngModel)]="personalDetails.bankName">
                </mat-form-field>
            </div>


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="आयएफएससी कोड" type="text" formControlName="ifsccode"
                        [maxLength]="maxLengthIfsc" [(ngModel)]="personalDetails.BankIFSCCode">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="शहर" type="text" formControlName="city"
                        [(ngModel)]="personalDetails.city">
                </mat-form-field>
            </div>

        </div>
    </div>
    <mat-divider class="my-2"></mat-divider>

    <div class="container-fluid">
        <h4 class="font-weight-bold">इतर</h4>
        <div class="row">


            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="ठिकाण" type="text" formControlName="place"
                        [(ngModel)]="personalDetails.place" readonly>
                </mat-form-field>
            </div>
            <div class="col-md-3 col-6 col-sm-6">
                <mat-form-field style="width: 100%;">
                    <input matInput placeholder="अर्जाची तारीख" type="text" formControlName="applicationDate"
                        [(ngModel)]="personalDetails.applicationDate" readonly>
                </mat-form-field>

            </div>
        </div>


    </div>


    <div mat-dialog-actions class="my-2" align="end" *ngIf="!isExisitingEdit">


        <span class="mr-2"><button mat-raised-button color="primary" [disabled]="!personalDetails.firstName"
                (click)="saveEmployee()">Submit</button></span>
        <button mat-raised-button mat-dialog-close>Close</button>
    </div>


    <div mat-dialog-actions align="end" *ngIf="isExisitingEdit">
        <span class="mr-2"><button mat-raised-button color="primary" [disabled]="!personalDetails.reasonForEdit"
                (click)="saveEmployee()">Submit</button></span>
        <button mat-raised-button mat-dialog-close>Close</button>
    </div>


    <mat-divider class="my-2"></mat-divider>
    <div class="container-fluid">
        <h4 class="font-weight-bold">अनिवार्य दस्तऐवज</h4>

        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required"> जन्म तारीख पुरावा :</p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getDOBFileDetails($event)" class="width-100"
                    style="margin-left: 7px;" formControlName="dobProof" [(ngModel)]="personalDetails.dobProof">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required"> रहिवासी पुरावा (महाराष्ट्र राज्य) : </p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getMahrashtraResidenceFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="maharashtraResidentProof"
                    [(ngModel)]="personalDetails.maharashtraResidentProof">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required">वार्षिक उत्पन्न पुरावा (तहसीलदार) : </p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getannualIncomeFileDetails($event)" class="width-100"
                    style="margin-left: 7px;" formControlName="annualIncomeProof"
                    [(ngModel)]="personalDetails.annualIncomeProof">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required"> सरकार लाभार्थी बेनिफिट योजनेचा पुरावा :</p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getGovtBeneficiaryBenefitFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="beneficiaryBenefitPlanProof"
                    [(ngModel)]="personalDetails.beneficiaryBenefitPlanProof">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required">कलाकार छायाचित्र : </p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getGovtBeneficiaryBenefitFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="beneficiaryBenefitPlanProof"
                    [(ngModel)]="personalDetails.beneficiaryBenefitPlanProof">
            </div>
        </div>

        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required"> नामित छायाचित्र : </p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getGovtBeneficiaryBenefitFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="beneficiaryBenefitPlanProof"
                    [(ngModel)]="personalDetails.beneficiaryBenefitPlanProof">
            </div>
        </div>


        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required"> बँक खाते पुष्टीकरण पुरावा :</p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getGovtBeneficiaryBenefitFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="beneficiaryBenefitPlanProof"
                    [(ngModel)]="personalDetails.beneficiaryBenefitPlanProof">
            </div>
        </div>

        <h4 class="font-weight-bold">पर्यायी कागदपत्रे</h4>
        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                आजारी किंवा अपंग असल्याचा पुरावा :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getIllHandicapedFileDetails($event)" class="width-100"
                    style="margin-left: 7px;" formControlName="illHandicapedProof"
                    [(ngModel)]="personalDetails.illHandicapedProof">
            </div>
        </div>

        <div class="row mt-1">


            <div class="col-md-6 col-12 col-sm-12">
                प्रकाशने, गुंतवणूकी अथवा सरकारी मान्यता पुरावा :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getGovtRecognisitionFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="publicationsGovtRecognistionProof"
                    [(ngModel)]="personalDetails.publicationsGovtRecognistionProof">
            </div>
        </div>

        <div class="row mt-1">


            <div class="col-md-6 col-12 col-sm-12">
                सांस्कृतिक प्रमाणपत्र पुरावा :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getCulturalFileDetails($event)" class="width-100"
                    style="margin-left: 7px;" formControlName="culturalMinsitryCertificationProof"
                    [(ngModel)]="personalDetails.culturalMinsitryCertificationProof">
            </div>
        </div>

        <div class="row mt-1">


            <div class="col-md-6 col-12 col-sm-12">
                प्रायोजित कार्यक्रम पुरावा :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getSponseredFileDetails($event)" class="width-100"
                    style="margin-left: 7px;" formControlName="sponseredDocumentsProof"
                    [(ngModel)]="personalDetails.sponseredDocumentsProof">
            </div>
        </div>


        <div class="row mt-1">

            <div class="col-md-6 col-12 col-sm-12">
                जिल्हाधिकारी नामनिर्देशित कार्यक्रम सहभागाचा पुरावा :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getCollectorNominatedFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="collectorNominatedParticipationProof"
                    [(ngModel)]="personalDetails.collectorNominatedParticipationProof">
            </div>
        </div>

        <div class="row mt-1">


            <div class="col-md-6 col-12 col-sm-12">
                संस्था आणि वैयक्तिक पुनर्प्राप्तीचा पुरावा :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getIndividualInstitutionFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="institutionRecomendationProof"
                    [(ngModel)]="personalDetails.institutionandIndividualRecomendationProof">
            </div>
        </div>
        <div class="row mt-1">


            <div class="col-md-6 col-12 col-sm-12">
                पुष्टीकरण पुराव्याचे प्रमाणित प्रमाणपत्र :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getNotarisedFileDetails($event)" class="width-100"
                    style="margin-left: 7px;" formControlName="notarisedCertificateOfConfirmationProof"
                    [(ngModel)]="personalDetails.notarisedCertificateOfConfirmationProof">
            </div>
        </div>
        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                इतर दस्तऐवज :
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getIndividualInstitutionFileDetails($event)"
                    class="width-100" style="margin-left: 7px;" formControlName="institutionRecomendationProof"
                    [(ngModel)]="personalDetails.institutionandIndividualRecomendationProof">
            </div>
        </div>
        <mat-divider class="my-3"></mat-divider>

        <div class="row mt-1">
            <div class="col-md-6 col-12 col-sm-12">
                <p class="required">अपलोड मॅन्युअल फॉर्म :</p>
            </div>
            <div class="col-md-6 col-12 col-sm-4 p-2">
                <input type="file" id="file" multiple (change)="getManualFileDetails($event)" class="width-100"
                    style="margin-left: 7px;" formControlName="manualFormProof"
                    [(ngModel)]="personalDetails.manualFormProof">
            </div>
        </div>

    </div>

    <mat-divider class="my-3"></mat-divider>


        <div class="container-fluid">

            <div mat-dialog-actions class="my-2" align="end">
                <span class="mr-2"><button mat-raised-button color="primary" [disabled]="!isFormSubmitted"
                        (click)="saveEmployee()">Submit Details</button></span>
                <button mat-raised-button mat-dialog-close>Close</button>
            </div>

        </div>
    

</form>