<div class="center-div">
    <div class="card">
        <div class="col-md-12 col-12 col-sm-12">
            <div class="card-header width-100" style="height: 50px;background-color: #3f51b5;">
                <h4 style="text-align: center;color: white;">Change Password Here</h4>
            </div>
        </div>
        <div class="card-body mt-2 d-flex justify-content-center">
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12">
                    <mat-form-field style="width: 100%;">
                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Current Password"
                            [(ngModel)]="changePassword.currentPassword">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-12 col-sm-12">
                    <mat-form-field style="width: 100%;">
                        <input matInput [type]="hideNewPswrd ? 'password' : 'text'" placeholder="New Password"
                            [(ngModel)]="changePassword.newPassword">
                        <button mat-icon-button matSuffix (click)="hideNewPswrd = !hideNewPswrd" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hideNewPswrd">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-12 col-sm-12">

                    <mat-form-field style="width: 100%;">
                        <input matInput [type]="hideConfirmPswrd ? 'password' : 'text'" placeholder="Confirm Password"
                            [(ngModel)]="changePassword.confirmPassword">
                        <button mat-icon-button matSuffix (click)="hideConfirmPswrd = !hideConfirmPswrd" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hideConfirmPswrd">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <div class="col-md-12 col-12 col-sm-12">
                    <button mat-raised-button color="primary"
                        [disabled]="!changePassword.confirmPassword|| !changePassword.newPassword || !changePassword.currentPassword"
                        class="width-100" (click)="changeCurrentPassword()">Change Password</button>
                </div>
            </div>
        </div>

    </div>
</div>
<ngx-spinner></ngx-spinner>