<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar" *ngIf="basicUserService.isLoggedIn()">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <h3 style="color:white;">{{welcome}} {{userName |uppercase}}</h3>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list *ngIf="sideBarLanguage=='true'">
        <ng-container *ngIf="role === 'ADMIN' || role === 'STATE' || role === 'DISTRICT' || role === 'GRAMPANCHAYAT' ">
          <h3 class="font-weight-bold text-center">{{welcome}} {{userName
            |uppercase}}<br>{{role|uppercase}}<br>{{districtName}}
          </h3>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN' || role === 'STATE' || role === 'DISTRICT' || role === 'GRAMPANCHAYAT' ">
          <h3 class="font-weight-bold text-center">Change Side Bar Language
          </h3>
          <a mat-list-item (click)="changeSideBarLanguageToEnglish()">English</a>
          <a mat-list-item (click)="changeSideBarLanguageToMarati()">मराठी</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>
        <a mat-list-item (click)="navigateToDashboard()">Dashboard</a>
        <mat-divider class="my-2"></mat-divider>

        <ng-container *ngIf="role === 'ADMIN' || role === 'STATE'">
          <h3 class="text-center font-weight-bold">Create User</h3>
          <a mat-list-item routerLink='add/user'>Create New User</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'STATE' || role === 'DISTRICT' || role === 'GRAMPANCHAYAT' || role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">Access Management</h3>
          <a mat-list-item *ngIf="role === 'GRAMPANCHAYAT'" routerLink="details/personalDetails">New Member
            Addition</a>
          <a mat-list-item *ngIf=" role === 'DISTRICT'  || role === 'STATE'|| role === 'ADMIN' "
            routerLink="newApprovals"> New
            Approvals</a>
          <a mat-list-item *ngIf=" role === 'DISTRICT' || role === 'STATE' ||  role === 'ADMIN'"
            routerLink="approvedList"> Approved
            List</a>
          <a mat-list-item *ngIf=" role === 'GRAMPANCHAYAT' " routerLink="panchayat/approvedList">Approved List</a>
          <a mat-list-item
            *ngIf=" role === 'DISTRICT' ||  role === 'GRAMPANCHAYAT' ||  role === 'STATE' ||  role === 'ADMIN'"
            routerLink="requestToPutOnHold">
            Request To Edit / Hold / Release</a>
          <a mat-list-item
            *ngIf=" role === 'DISTRICT' || role === 'GRAMPANCHAYAT' ||role === 'STATE' || role === 'ADMIN'"
            routerLink="onHold"> List On
            Hold</a>
          <a mat-list-item
            *ngIf=" role === 'DISTRICT' || role === 'STATE' || role === 'GRAMPANCHAYAT' || role === 'ADMIN'"
            routerLink='listOfRejectedMembers'>List of
            Rejected</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'GRAMPANCHAYAT' ">
          <h3 class="text-center font-weight-bold">Artist Category</h3>
          <a mat-list-item routerLink="panchayat/gradeA">Category A</a>
          <a mat-list-item routerLink="panchayat/gradeB">Category B</a>
          <a mat-list-item routerLink="panchayat/gradeC">Category C</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">Artist Category</h3>
          <a mat-list-item (click)="gradeAArtistByAdmin()">Category A</a>
          <a mat-list-item (click)="gradeBArtistByAdmin()">Grade B</a>
          <a mat-list-item (click)="gradeCArtistByAdmin()">Grade C</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'DISTRICT'">
          <h3 class="text-center font-weight-bold">Artist Category</h3>
          <a mat-list-item (click)="gradeAArtistByDistrict()">Category A</a>
          <a mat-list-item (click)="gradeBArtistByDistrict()">Grade B</a>
          <a mat-list-item (click)="gradeCArtistByDistrict()">Grade C </a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'STATE'">
          <h3 class="text-center font-weight-bold">Artist Category</h3>
          <a mat-list-item (click)="gradeAArtistByState()">Category A </a>
          <a mat-list-item (click)="gradeBArtistByState()">Grade B</a>
          <a mat-list-item (click)="gradeCArtistByState()">Grade C</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'STATE'">
          <h3 class="text-center font-weight-bold">Role Management</h3>
          <a mat-list-item routerLink="role/State">State</a>
          <a mat-list-item routerLink="role/District">District</a>
          <a mat-list-item routerLink="role/Panchayat">Panchayat</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">Role Management</h3>
          <a mat-list-item routerLink="role/State">State</a>
          <a mat-list-item routerLink="role/District">District</a>
          <a mat-list-item routerLink="role/Panchayat">Panchayat</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">User Management</h3>
          <a mat-list-item (click)="navigateToAdminUserManagement()">Admin</a>
          <a mat-list-item (click)="navigateToStateUserManagement()">State</a>
          <a mat-list-item (click)="navigateToDistrictUserManagement()">District</a>
          <a mat-list-item (click)="navigateToPanchayatUserManagement()">Panchayat</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'STATE'">
          <h3 class="text-center font-weight-bold">Reports</h3>
          <a mat-list-item (click)="stateCountWiseReport()">Count Wise Report</a>

          <a mat-list-item (click)="artTypeConsolidatedReport('STATE_ART_TYPE_COUNT_REPORT')">Art Wise Consolidated
            Report</a>
          <a mat-list-item (click)="casteWiseConsolidatedReport('STATE_CAST_WISE_COUNT_REPORT')">Cast Wise Consolidated
            Report</a>
          <a mat-list-item (click)="gradeWiseConsolidatedReport('STATE_GRADE_TYPE_COUNT_REPORT')">Grade Wise
            Consolidated
            Report</a>
          <a mat-list-item (click)="religionWiseConsolidatedReport('STATE_RELIGION_WISE_COUNT_REPORT')">Religion Wise
            Consolidated
            Report</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">Reports</h3>

          <a mat-list-item (click)="adminCountWiseReport()">Count Wise Report</a>
          <a mat-list-item (click)="artTypeConsolidatedReport('ADMIN_ART_TYPE_COUNT_REPORT')">Art Wise Consolidated
            Report</a>
          <a mat-list-item (click)="casteWiseConsolidatedReport('ADMIN_CAST_WISE_COUNT_REPORT')">Cast Wise Consolidated
            Report</a>
          <a mat-list-item (click)="gradeWiseConsolidatedReport('ADMIN_GRADE_TYPE_COUNT_REPORT')">Grade Wise
            Consolidated
            Report</a>
          <a mat-list-item (click)="religionWiseConsolidatedReport('ADMIN_RELIGION_WISE_COUNT_REPORT')">Religion Wise
            Consolidated
            Report</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'DISTRICT'">
          <h3 class="text-center font-weight-bold">Reports</h3>
          <a mat-list-item (click)="districtCountWiseReport()">Count Wise Report</a>

          <a mat-list-item (click)="artTypeConsolidatedReport('DISTRICT_ART_TYPE_COUNT_REPORT')">Art Wise Consolidated
            Report</a>
          <a mat-list-item (click)="casteWiseConsolidatedReport('DISTRICT_CAST_WISE_COUNT_REPORT')">Cast Wise
            Consolidated
            Report</a>
          <a mat-list-item (click)="gradeWiseConsolidatedReport('DISTRICT_GRADE_TYPE_COUNT_REPORT')">Grade Wise
            Consolidated
            Report</a>
          <a mat-list-item (click)="religionWiseConsolidatedReport('DISTRICT_RELIGION_WISE_COUNT_REPORT')">Religion Wise
            Consolidated
            Report</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'GRAMPANCHAYAT'">
          <h3 class="text-center font-weight-bold">Reports</h3>
          <a mat-list-item (click)="panchayatCountWiseReport()">Count Wise Report</a>
          <a mat-list-item (click)="artTypeConsolidatedReport('PANCHAYAT_ART_TYPE_COUNT_REPORT')">Art Wise Consolidated
            Report</a>
          <a mat-list-item (click)="casteWiseConsolidatedReport('PANCHAYAT_CAST_WISE_COUNT_REPORT')">Cast Wise
            Consolidated
            Report</a>

          <a mat-list-item (click)="gradeWiseConsolidatedReport('PANCHAYAT_GRADE_TYPE_COUNT_REPORT')">Grade Wise
            Consolidated
            Report</a>
          <a mat-list-item (click)="religionWiseConsolidatedReport('PANCHAYAT_RELIGION_WISE_COUNT_REPORT')">Religion
            Wise
            Consolidated
            Report</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <a mat-list-item (click)="changePassword()">Change Password</a>
        <a mat-list-item (click)="[isLogout(),snav.close()]">Logout</a>
        <!-- <ng-container *ngIf="role === 'GRAMPANCHAYAT'">
          <h3 class="text-center font-weight-bold">Approved Status Reports</h3>
          <a mat-list-item (click)="categoryAWisePanchayatReport()">Category A Wise</a>
          <a mat-list-item (click)="categoryBWisePanchayatReport()">Category B Wise</a>
          <a mat-list-item (click)="categoryCWisePanchayatReport()">Category C Wise</a>
          <a mat-list-item (click)="combinePanchayatWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>
        <ng-container *ngIf="role === 'GRAMPANCHAYAT'">
          <h3 class="text-center font-weight-bold">Hold Status Reports</h3>
          <a mat-list-item (click)="holdedCategoryAWisePanchayatReport()">Category A Wise</a>
          <a mat-list-item (click)="holdedCategoryBWisePanchayatReport()">Category B Wise</a>
          <a mat-list-item (click)="holdedCategoryCWisePanchayatReport()">Category C Wise</a>
          <a mat-list-item (click)="holdedCombinePanchayatWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container> -->

        <!-- 
        <ng-container *ngIf="role === 'DISTRICT'">
          <h3 class="text-center font-weight-bold">Reports</h3>
          <h3 class="text-center font-weight-bold">Approved Status Reports</h3>
          <a mat-list-item (click)="categoryAWiseDistrictReport()">Category A Wise</a>
          <a mat-list-item (click)="categoryBWiseDistrictReport()">Category B Wise</a>
          <a mat-list-item (click)="categoryCWiseDistrictReport()">Category C Wise</a>
          <a mat-list-item (click)="combineDistrictWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'DISTRICT'">
          <h3 class="text-center font-weight-bold">Hold Status Reports</h3>
          <a mat-list-item (click)="holdedCategoryAWiseDistrictReport()">Category A Wise</a>
          <a mat-list-item (click)="holdedCategoryBWiseDistrictReport()">Category B Wise</a>
          <a mat-list-item (click)="holdedCategoryCWiseDistrictReport()">Category C Wise</a>
          <a mat-list-item (click)="holdedCombineDistrictWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container> -->



        <!-- <ng-container *ngIf="role === 'STATE'">
          <h3 class="text-center font-weight-bold">Reports</h3>
          <h3 class="text-center font-weight-bold">Approved Status Reports</h3>
          <a mat-list-item (click)="categoryAWiseStateReport()">Category A Wise</a>
          <a mat-list-item (click)="categoryBWiseStateReport()">Category B Wise</a>
          <a mat-list-item (click)="categoryCWiseStateReport()">Category C Wise</a>
          <a mat-list-item (click)="combineStateWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'STATE'">
          <h3 class="text-center font-weight-bold">Hold Status Reports</h3>
          <a mat-list-item (click)="holdedCategoryAWiseStateReport()">Category A Wise</a>
          <a mat-list-item (click)="holdedCategoryBWiseStateReport()">Category B Wise</a>
          <a mat-list-item (click)="holdedCategoryCWiseStateReport()">Category C Wise</a>
          <a mat-list-item (click)="holdedCombineStateWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container> -->



        <!-- <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">Reports</h3>
          <h3 class="text-center font-weight-bold">Approved Status Reports</h3>
          <a mat-list-item (click)="categoryAWiseStateReport()">Category A Wise</a>
          <a mat-list-item (click)="categoryBWiseStateReport()">Category B Wise</a>
          <a mat-list-item (click)="categoryCWiseStateReport()">Category C Wise</a>
          <a mat-list-item (click)="combineStateWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">Hold Status Reports</h3>
          <a mat-list-item (click)="holdedCategoryAWiseStateReport()">Category A Wise</a>
          <a mat-list-item (click)="holdedCategoryBWiseStateReport()">Category B Wise</a>
          <a mat-list-item (click)="holdedCategoryCWiseStateReport()">Category C Wise</a>
          <a mat-list-item (click)="holdedCombineStateWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container> -->



      </mat-nav-list>



      <mat-nav-list *ngIf="sideBarLanguage=='false'">
        <ng-container *ngIf="role === 'ADMIN' || role === 'STATE' || role === 'DISTRICT' || role === 'GRAMPANCHAYAT' ">
          <h3 class="font-weight-bold text-center">{{welcome}} {{userName
            |uppercase}}<br>{{role|uppercase}}<br>{{districtName}}
          </h3>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN' || role === 'STATE' || role === 'DISTRICT' || role === 'GRAMPANCHAYAT' ">
          <h3 class="font-weight-bold text-center">साइडबार भाषा बदला
          </h3>
          <a mat-list-item (click)="changeSideBarLanguageToEnglish()">English</a>
          <a mat-list-item (click)="changeSideBarLanguageToMarati()">मराठी</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <a mat-list-item (click)="navigateToDashboard()">डॅशबोर्ड</a>
        <mat-divider class="my-2"></mat-divider>

        <ng-container *ngIf="role === 'ADMIN' || role === 'STATE'">
          <h3 class="text-center font-weight-bold">वापरकर्ता</h3>
          <a mat-list-item routerLink='add/user'>नवीन वापरकर्ता बनवा</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'STATE' || role === 'DISTRICT' || role === 'GRAMPANCHAYAT' || role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">प्रवेश व्यवस्थापन</h3>
          <a mat-list-item *ngIf="role === 'GRAMPANCHAYAT'" routerLink="details/personalDetails">नवीन सदस्य जोडा</a>
          <a mat-list-item *ngIf=" role === 'DISTRICT'  || role === 'STATE'|| role === 'ADMIN' "
            routerLink="newApprovals">नवीन मान्यता</a>
          <a mat-list-item *ngIf=" role === 'DISTRICT' || role === 'STATE' ||  role === 'ADMIN'"
            routerLink="approvedList">मंजूर यादी</a>
          <a mat-list-item *ngIf=" role === 'GRAMPANCHAYAT' " routerLink="panchayat/approvedList">मंजूर यादी</a>
          <a mat-list-item
            *ngIf=" role === 'DISTRICT' ||  role === 'GRAMPANCHAYAT' ||  role === 'STATE' ||  role === 'ADMIN'"
            routerLink="requestToPutOnHold">
            एडिट / होल्ड / रीलीझ करण्याची विनंती</a>
          <a mat-list-item
            *ngIf=" role === 'DISTRICT' || role === 'GRAMPANCHAYAT' ||role === 'STATE' || role === 'ADMIN'"
            routerLink="onHold">होल्ड यादी</a>
          <a mat-list-item
            *ngIf=" role === 'DISTRICT' || role === 'STATE' || role === 'GRAMPANCHAYAT' || role === 'ADMIN'"
            routerLink='listOfRejectedMembers'>नाकारलेल्या सदस्यांची यादी</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'GRAMPANCHAYAT' ">
          <h3 class="text-center font-weight-bold">कलाकार श्रेणी</h3>
          <a mat-list-item routerLink="panchayat/gradeA">श्रेणी अ</a>
          <a mat-list-item routerLink="panchayat/gradeB">श्रेणी ब</a>
          <a mat-list-item routerLink="panchayat/gradeC">श्रेणी क</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">कलाकार श्रेणी</h3>
          <a mat-list-item (click)="gradeAArtistByAdmin()">श्रेणी अ</a>
          <a mat-list-item (click)="gradeBArtistByAdmin()">श्रेणी ब</a>
          <a mat-list-item (click)="gradeCArtistByAdmin()">श्रेणी क</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'DISTRICT'">
          <h3 class="text-center font-weight-bold">कलाकार श्रेणी</h3>
          <a mat-list-item (click)="gradeAArtistByDistrict()">श्रेणी अ</a>
          <a mat-list-item (click)="gradeBArtistByDistrict()">श्रेणी ब</a>
          <a mat-list-item (click)="gradeCArtistByDistrict()">श्रेणी क</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'STATE'">
          <h3 class="text-center font-weight-bold">कलाकार श्रेणी</h3>
          <a mat-list-item (click)="gradeAArtistByState()">श्रेणी अ</a>
          <a mat-list-item (click)="gradeBArtistByState()">श्रेणी ब</a>
          <a mat-list-item (click)="gradeCArtistByState()">श्रेणी क</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'STATE'">
          <h3 class="text-center font-weight-bold">भूमिका व्यवस्थापन</h3>
          <a mat-list-item routerLink="role/State">राज्य</a>
          <a mat-list-item routerLink="role/District">जिल्हा</a>
          <a mat-list-item routerLink="role/Panchayat">पंचायत</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">भूमिका व्यवस्थापन</h3>
          <a mat-list-item routerLink="role/State">राज्य</a>
          <a mat-list-item routerLink="role/District">जिल्हा</a>
          <a mat-list-item routerLink="role/Panchayat">पंचायत</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>




        <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">वापरकर्ता व्यवस्थापन</h3>
          <a mat-list-item (click)="navigateToAdminUserManagement()">ॲडमिन</a>
          <a mat-list-item (click)="navigateToStateUserManagement()">राज्य</a>
          <a mat-list-item (click)="navigateToDistrictUserManagement()">जिल्हा</a>
          <a mat-list-item (click)="navigateToPanchayatUserManagement()">पंचायत</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>





        <ng-container *ngIf="role === 'STATE'">
          <h3 class="text-center font-weight-bold">अहवाल</h3>
          <a mat-list-item (click)="stateCountWiseReport()">विभागीय संख्यात्मक अहवाल</a>
          <a mat-list-item (click)="artTypeConsolidatedReport('STATE_ART_TYPE_COUNT_REPORT')">कला प्रकार विभागीय
            संख्यात्मक अहवाल</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">अहवाल</h3>
          <a mat-list-item (click)="adminCountWiseReport()">विभागीय संख्यात्मक अहवाल</a>
          <a mat-list-item (click)="artTypeConsolidatedReport('ADMIN_ART_TYPE_COUNT_REPORT')">कला प्रकार विभागीय
            संख्यात्मक अहवाल</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'DISTRICT'">
          <h3 class="text-center font-weight-bold">अहवाल</h3>
          <a mat-list-item (click)="districtCountWiseReport()">विभागीय संख्यात्मक अहवाल</a>
          <a mat-list-item (click)="artTypeConsolidatedReport('DISTRICT_ART_TYPE_COUNT_REPORT')">कला प्रकार विभागीय
            संख्यात्मक अहवाल</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'GRAMPANCHAYAT'">
          <h3 class="text-center font-weight-bold">अहवाल</h3>
          <a mat-list-item (click)="panchayatCountWiseReport()">विभागीय संख्यात्मक अहवाल</a>
          <a mat-list-item (click)="artTypeConsolidatedReport('PANCHAYAT_ART_TYPE_COUNT_REPORT')">कला प्रकार विभागीय
            संख्यात्मक अहवाल</a>
          <a mat-list-item (click)="artTypeConsolidatedReport('PANCHAYAT_ART_TYPE_COUNT_REPORT')">कला प्रकार विभागीय
            संख्यात्मक अहवाल</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <a mat-list-item (click)="changePassword()">पासवर्ड बदला</a>
        <a mat-list-item (click)="[isLogout(),snav.close()]">बाहेर पडा</a>

        <!-- <ng-container *ngIf="role === 'GRAMPANCHAYAT'">
          <h3 class="text-center font-weight-bold">Approved Status Reports</h3>
          <a mat-list-item (click)="categoryAWisePanchayatReport()">Category A Wise</a>
          <a mat-list-item (click)="categoryBWisePanchayatReport()">Category B Wise</a>
          <a mat-list-item (click)="categoryCWisePanchayatReport()">Category C Wise</a>
          <a mat-list-item (click)="combinePanchayatWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>
        <ng-container *ngIf="role === 'GRAMPANCHAYAT'">
          <h3 class="text-center font-weight-bold">Hold Status Reports</h3>
          <a mat-list-item (click)="holdedCategoryAWisePanchayatReport()">Category A Wise</a>
          <a mat-list-item (click)="holdedCategoryBWisePanchayatReport()">Category B Wise</a>
          <a mat-list-item (click)="holdedCategoryCWisePanchayatReport()">Category C Wise</a>
          <a mat-list-item (click)="holdedCombinePanchayatWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container> -->

        <!-- 
        <ng-container *ngIf="role === 'DISTRICT'">
          <h3 class="text-center font-weight-bold">Reports</h3>
          <h3 class="text-center font-weight-bold">Approved Status Reports</h3>
          <a mat-list-item (click)="categoryAWiseDistrictReport()">Category A Wise</a>
          <a mat-list-item (click)="categoryBWiseDistrictReport()">Category B Wise</a>
          <a mat-list-item (click)="categoryCWiseDistrictReport()">Category C Wise</a>
          <a mat-list-item (click)="combineDistrictWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'DISTRICT'">
          <h3 class="text-center font-weight-bold">Hold Status Reports</h3>
          <a mat-list-item (click)="holdedCategoryAWiseDistrictReport()">Category A Wise</a>
          <a mat-list-item (click)="holdedCategoryBWiseDistrictReport()">Category B Wise</a>
          <a mat-list-item (click)="holdedCategoryCWiseDistrictReport()">Category C Wise</a>
          <a mat-list-item (click)="holdedCombineDistrictWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container> -->



        <!-- <ng-container *ngIf="role === 'STATE'">
          <h3 class="text-center font-weight-bold">Reports</h3>
          <h3 class="text-center font-weight-bold">Approved Status Reports</h3>
          <a mat-list-item (click)="categoryAWiseStateReport()">Category A Wise</a>
          <a mat-list-item (click)="categoryBWiseStateReport()">Category B Wise</a>
          <a mat-list-item (click)="categoryCWiseStateReport()">Category C Wise</a>
          <a mat-list-item (click)="combineStateWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'STATE'">
          <h3 class="text-center font-weight-bold">Hold Status Reports</h3>
          <a mat-list-item (click)="holdedCategoryAWiseStateReport()">Category A Wise</a>
          <a mat-list-item (click)="holdedCategoryBWiseStateReport()">Category B Wise</a>
          <a mat-list-item (click)="holdedCategoryCWiseStateReport()">Category C Wise</a>
          <a mat-list-item (click)="holdedCombineStateWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container> -->



        <!-- <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">Reports</h3>
          <h3 class="text-center font-weight-bold">Approved Status Reports</h3>
          <a mat-list-item (click)="categoryAWiseStateReport()">Category A Wise</a>
          <a mat-list-item (click)="categoryBWiseStateReport()">Category B Wise</a>
          <a mat-list-item (click)="categoryCWiseStateReport()">Category C Wise</a>
          <a mat-list-item (click)="combineStateWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">Hold Status Reports</h3>
          <a mat-list-item (click)="holdedCategoryAWiseStateReport()">Category A Wise</a>
          <a mat-list-item (click)="holdedCategoryBWiseStateReport()">Category B Wise</a>
          <a mat-list-item (click)="holdedCategoryCWiseStateReport()">Category C Wise</a>
          <a mat-list-item (click)="holdedCombineStateWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container> -->



      </mat-nav-list>


    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>