<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar" *ngIf="basicUserService.isLoggedIn()">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <h3 style="color:white;">{{welcome}} {{userName |uppercase}}</h3>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        <ng-container *ngIf="role === 'ADMIN' || role === 'STATE' || role === 'DISTRICT' || role === 'GRAMPANCHAYAT' ">
          <h3 class="font-weight-bold text-center">{{welcome}} {{userName
            |uppercase}}<br>{{role|uppercase}}<br>{{districtName}}
          </h3>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>


        <a mat-list-item (click)="navigateToDashboard()">Dashboard</a>
        <mat-divider class="my-2"></mat-divider>

        <ng-container *ngIf="role === 'ADMIN' || role === 'STATE'">
          <h3 class="text-center font-weight-bold">Create User</h3>
          <a mat-list-item routerLink='add/user'>Create New User</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'STATE' || role === 'DISTRICT' || role === 'GRAMPANCHAYAT' || role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">Access Management</h3>
          <a mat-list-item *ngIf="role === 'GRAMPANCHAYAT'" routerLink="details/personalDetails">New Member
            Addition</a>
          <a mat-list-item *ngIf=" role === 'DISTRICT'  || role === 'STATE'|| role === 'ADMIN' "
            routerLink="newApprovals"> New
            Approvals</a>
          <a mat-list-item *ngIf=" role === 'DISTRICT' || role === 'STATE' ||  role === 'ADMIN'"
            routerLink="approvedList"> Approved
            List</a>
          <a mat-list-item *ngIf=" role === 'GRAMPANCHAYAT' " routerLink="panchayat/approvedList"> Approved List</a>
          <a mat-list-item
            *ngIf=" role === 'DISTRICT' ||  role === 'GRAMPANCHAYAT' ||  role === 'STATE' ||  role === 'ADMIN'"
            routerLink="requestToPutOnHold">
            Request To Edit / Hold / Release</a>
          <a mat-list-item
            *ngIf=" role === 'DISTRICT' || role === 'GRAMPANCHAYAT' ||role === 'STATE' || role === 'ADMIN'"
            routerLink="onHold"> List On
            Hold</a>
          <a mat-list-item
            *ngIf=" role === 'DISTRICT' || role === 'STATE' || role === 'GRAMPANCHAYAT' || role === 'ADMIN'"
            routerLink='listOfRejectedMembers'>List of
            Rejected Members</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'GRAMPANCHAYAT' ">
          <h3 class="text-center font-weight-bold">Artist Category</h3>
          <a mat-list-item routerLink="panchayat/gradeA">Category A</a>
          <a mat-list-item routerLink="panchayat/gradeB">Category B</a>
          <a mat-list-item routerLink="panchayat/gradeC">Category C</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">Artist Category</h3>
          <a mat-list-item (click)="gradeAArtistByAdmin()">Grade A</a>
          <a mat-list-item (click)="gradeBArtistByAdmin()">Grade B</a>
          <a mat-list-item (click)="gradeCArtistByAdmin()">Grade C</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'DISTRICT'">
          <h3 class="text-center font-weight-bold">Artist Category</h3>
          <a mat-list-item (click)="gradeAArtistByDistrict()">Grade A</a>
          <a mat-list-item (click)="gradeBArtistByDistrict()">Grade B</a>
          <a mat-list-item (click)="gradeCArtistByDistrict()">Grade C</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'STATE'">
          <h3 class="text-center font-weight-bold">Artist Category</h3>
          <a mat-list-item (click)="gradeAArtistByState()">Grade A</a>
          <a mat-list-item (click)="gradeBArtistByState()">Grade B</a>
          <a mat-list-item (click)="gradeCArtistByState()">Grade C</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'STATE'">
          <h3 class="text-center font-weight-bold">Role Management</h3>
          <a mat-list-item routerLink="role/State">State</a>
          <a mat-list-item routerLink="role/District">District</a>
          <a mat-list-item routerLink="role/Panchayat">Panchayat</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">Role Management</h3>
          <a mat-list-item routerLink="role/State">State</a>
          <a mat-list-item routerLink="role/District">District</a>
          <a mat-list-item routerLink="role/Panchayat">Panchayat</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'ADMIN'">
          <h3 class="text-center font-weight-bold">User Management</h3>
          <a mat-list-item (click)="navigateToAdminUserManagement()">Admin</a>
          <a mat-list-item (click)="navigateToStateUserManagement()">State</a>
          <a mat-list-item (click)="navigateToDistrictUserManagement()">District</a>
          <a mat-list-item (click)="navigateToPanchayatUserManagement()">Panchayat</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <!-- <ng-container *ngIf="role === 'GRAMPANCHAYAT'">
          <h3 class="text-center font-weight-bold">Approved Status Reports</h3>
          <a mat-list-item (click)="categoryAWisePanchayatReport()">Category A Wise</a>
          <a mat-list-item (click)="categoryBWisePanchayatReport()">Category B Wise</a>
          <a mat-list-item (click)="categoryCWisePanchayatReport()">Category C Wise</a>
          <a mat-list-item (click)="combinePanchayatWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>
        <ng-container *ngIf="role === 'GRAMPANCHAYAT'">
          <h3 class="text-center font-weight-bold">Hold Status Reports</h3>
          <a mat-list-item (click)="holdedCategoryAWisePanchayatReport()">Category A Wise</a>
          <a mat-list-item (click)="holdedCategoryBWisePanchayatReport()">Category B Wise</a>
          <a mat-list-item (click)="holdedCategoryCWisePanchayatReport()">Category C Wise</a>
          <a mat-list-item (click)="holdedCombinePanchayatWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container> -->

<!-- 
        <ng-container *ngIf="role === 'DISTRICT'">
          <h3 class="text-center font-weight-bold">Reports</h3>
          <h3 class="text-center font-weight-bold">Approved Status Reports</h3>
          <a mat-list-item (click)="categoryAWiseDistrictReport()">Category A Wise</a>
          <a mat-list-item (click)="categoryBWiseDistrictReport()">Category B Wise</a>
          <a mat-list-item (click)="categoryCWiseDistrictReport()">Category C Wise</a>
          <a mat-list-item (click)="combineDistrictWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'DISTRICT'">
          <h3 class="text-center font-weight-bold">Hold Status Reports</h3>
          <a mat-list-item (click)="holdedCategoryAWiseDistrictReport()">Category A Wise</a>
          <a mat-list-item (click)="holdedCategoryBWiseDistrictReport()">Category B Wise</a>
          <a mat-list-item (click)="holdedCategoryCWiseDistrictReport()">Category C Wise</a>
          <a mat-list-item (click)="holdedCombineDistrictWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container> -->



        <!-- <ng-container *ngIf="role === 'STATE'">
          <h3 class="text-center font-weight-bold">Reports</h3>
          <h3 class="text-center font-weight-bold">Approved Status Reports</h3>
          <a mat-list-item (click)="categoryAWiseStateReport()">Category A Wise</a>
          <a mat-list-item (click)="categoryBWiseStateReport()">Category B Wise</a>
          <a mat-list-item (click)="categoryCWiseStateReport()">Category C Wise</a>
          <a mat-list-item (click)="combineStateWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container>

        <ng-container *ngIf="role === 'STATE'">
          <h3 class="text-center font-weight-bold">Hold Status Reports</h3>
          <a mat-list-item (click)="holdedCategoryAWiseStateReport()">Category A Wise</a>
          <a mat-list-item (click)="holdedCategoryBWiseStateReport()">Category B Wise</a>
          <a mat-list-item (click)="holdedCategoryCWiseStateReport()">Category C Wise</a>
          <a mat-list-item (click)="holdedCombineStateWiseReport()">Combine Category Wise</a>
          <mat-divider class="my-2"></mat-divider>
        </ng-container> -->

        <a mat-list-item (click)="changePassword()">Change Password</a>
        <a mat-list-item (click)="[isLogout(),snav.close()]">Logout</a>

      </mat-nav-list>


    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>