<h4 class="text-center">{{currentUserRole}} DATA</h4>

<div class="container my-5">
    <div class="row">
        <div class="col-md-12 col-12 col-sm-12">
            <mat-form-field style="width: 100%;">
                <mat-label>Search</mat-label>
                <input matInput (keyup)="applyFilter($event.target.value)">
            </mat-form-field>
        </div>
    </div>
</div>

<div class="col-md-12 col-12 col-sm-12 mt-4" *ngIf="currentUserRole === 'ADMIN'">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
            <td mat-cell *matCellDef="let element"> {{element.UserName| uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Role Name</th>
            <td mat-cell *matCellDef="let element"> {{element.RoleName| uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="MobileNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Mobile Number</th>
            <td mat-cell *matCellDef="let element"> {{element.MobileNumber}} </td>
        </ng-container>


        <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Active</th>
            <td mat-cell *matCellDef="let element"> {{element.ActiveStatus| uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef [hidden]="show">View</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="viewUser(element)">
                    <mat-icon class="mat-18">remove_red_eye</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<div class="col-md-12 col-12 col-sm-12 mt-4" *ngIf="currentUserRole === 'STATE'">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
            <td mat-cell *matCellDef="let element"> {{element.UserName| uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Role Name</th>
            <td mat-cell *matCellDef="let element"> {{element.RoleName| uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="MobileNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>MobileNumber</th>
            <td mat-cell *matCellDef="let element"> {{element.MobileNumber}} </td>
        </ng-container>


        <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>isActive</th>
            <td mat-cell *matCellDef="let element"> {{element.ActiveStatus| uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef [hidden]="show">View</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="viewUser(element)">
                    <mat-icon class="mat-18">remove_red_eye</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<div class="col-md-12 col-12 col-sm-12 mt-4" *ngIf="currentUserRole === 'DISTRICT'">
    
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
            <td mat-cell *matCellDef="let element"> {{element.UserName| uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Role Name</th>
            <td mat-cell *matCellDef="let element"> {{element.RoleName| uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>District</th>
            <td mat-cell *matCellDef="let element"> {{element.DistrictName| uppercase}} </td>
        </ng-container>


        <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Active</th>
            <td mat-cell *matCellDef="let element"> {{element.ActiveStatus| uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef [hidden]="show">View</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="viewUser(element)">
                    <mat-icon class="mat-18">remove_red_eye</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
</div>

<div class="col-md-12 col-12 col-sm-12 mt-4" *ngIf="currentUserRole === 'GRAMPANCHAYAT'">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
            <td mat-cell *matCellDef="let element"> {{element.UserName| uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Role Name</th>
            <td mat-cell *matCellDef="let element"> {{element.RoleName| uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="district">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>District</th>
            <td mat-cell *matCellDef="let element"> {{element.DistrictName| uppercase}} </td>
        </ng-container>
        <ng-container matColumnDef="place">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Place</th>
            <td mat-cell *matCellDef="let element"> {{element.PanchyatId| uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Active</th>
            <td mat-cell *matCellDef="let element"> {{element.ActiveStatus| uppercase}} </td>
        </ng-container>

        <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef [hidden]="show">View</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="viewUser(element)">
                    <mat-icon class="mat-18">remove_red_eye</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 50, 100]" showFirstLastButtons></mat-paginator>
</div>