.center-div {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    max-width: 400px;
    min-width: 300px;
    margin-top: 120px !important;
}

.card {
    max-width: 95%;
}

*:focus {
    outline: none;
}